{% extends 'base.html.twig' %}

{% block title %}Stage {% endblock %}

{% block body %}
<style>
  #listeFormation{
    padding:15px;

  }
</style>

<div class="example-wrapper">
  <p>Titre : {{stage.titre}}</p>
  <p>Description : {{stage.descMissions}}</p>
  <p>Eamil de contact : {{stage.emailContact}}</p>
  <p>Proposé par : {{stage.entreprise.nom}}</p>
  <p>Formations :</p>
  <div id="listeFormation">
  {% for formation in stage.formations %}
    <p>{{formation.nomCourt}}</p>
  {% endfor %}
  </div>
</div>
{% endblock %}
